.constitute_form
{

}


.constitute_form_text
{
	font-size:150%;
	left:0%;  
}

.constitute_form_input
{
	left:0%;
	width:700px;
	height:35px;
	font-size:120%;
}

.constitute_form_input_submit
{
	font-size:150%;
	width:200px;
	height:35px;
}

.constitute_table_td_text
{
	width:150px;
}

.constitute_remark
{
		font-size:150%;
		width:700px;
		height:100px;
}

.constitute_table_tr_remark
{
		height:100px;
}

.constitute_input_file
{
	width:700px;
	height:35px;
}

.select_file_button
{
	font-size:150%;
	width:700px;
	height:35px;
}

.selfile_button
{
	font-size:100%;
	width:150px;
	height:35px;
}

.input_filename
{
	width:700px;
	height:35px;
}
