
body{
        font-family: "Times New Roman", Times, serif;
        font-size: 13px;
}

table {
        font-family: "Times New Roman", Times, serif;
        font-size: 13px;
}

input{
        font-family: "Times New Roman", Times, serif;
        font-size: 13px;
}

form{
        font-family: "Times New Roman", Times, serif;
        font-size: 13px;
}
