footer{
  margin:0;
  padding:0;
  list-style-type: none;
  background-color: black;
  color: white; 
  height: 50px;
}

body{
display:flex;
flex-flow:column;
min-height:100vh;//100%;
}
.main{
      flex:1;
}