*{
    margin:0;
    padding:0;
}

ul {   
   list-style-type: none; 
    margin: 0; 
    padding: 0;    
    overflow: hidden;  
    background:black;  
}  

li {
        list-style:none;
        float:left;
        border-right: 1px solid #2E3235;
        position: relative;
        background:black;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:14px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #78756c;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
}

.dropdown-content a {
    background:black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: red}

.dropdown:hover .dropdown-content {
    display: block;
}

    .Darrow{
        float:right;
        margin:18px 10px 0 0;
        border-width:5px;
        border-color:#FFF transparent transparent transparent;
        border-style:solid;
        width:0;
        height:0;
        line-height:0;
        overflow:hidden;
        cursor:pointer;
        text-shadow: 0px -1px 0px #000;
        -webkit-box-shadow:0px -1px 0px #000;
        -moz-box-shadow:0px -1px 0px #000;
    }
